
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.secao{
    margin: 50px 0px;
}
  
img{
    margin: auto;
    display: block;
}


.topo{
    background-color: #b0ddfc;
    margin: auto;
    text-align: center;
    
}
.topo a{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0px 10px;
    
}
.banner{
    margin-top: 30px;
    
}
.sobre{
    margin-top: 100px;
}
.secao .texto-azul{
    color:rgba(0, 0, 255, 0.527);
}
.assinatura{
    width: 500px;
}
span{
    color: rgb(25, 0, 255);
}
p{
    width: 1000px;
    text-align: justify;
    margin: auto;
}
.assinatura{
    margin-bottom: 20px;
}
.sevicos{
    background-color: blue;
}